.hero {
	background-color: #93A0DD;
	padding: 0px 300px 0px 200px;
}

.logo {
	width: 1000px;
}

.logoContainer {
	padding: 0px 0px 50px 0px;
}

.text {
	padding: 90px 0px 0px 0px;
}

.listingText  {
	font-size: 40px;
	padding-left: 220px;
}